---
import Layout from "@/layouts/layout.astro";
import StudiesList from "@/components/Studies/StudiesList.tsx";
import { obtenerEstudios, getTotalEstudios } from "@/libs/orthanc/Orthanc";
import type { Study } from "@/types";


const limit = 15;
const studies = await obtenerEstudios(limit, 0) as Study[];
const totalStudies = await getTotalEstudios();
---

<Layout title="Orthanc Explorer">
	<main>
		<StudiesList
			client:load
			total={totalStudies}
			studies={studies}
			currentPage={1}
		/>
	</main>
</Layout>
