---
interface Props {
	title: string;
}
import Sidebar from '@/components/Studies/Sidebar.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			if ('serviceWorker' in navigator) {
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/sw.js')
						.then(reg => console.log('Service Worker registrado con éxito:', reg.scope))
						.catch(err => console.error('Error al registrar el Service Worker:', err));
				});
			}
		</script>
	</head>
	<body>
		<Sidebar />
		<slot />
	</body>
</html>

<style is:global>
	:root {
	}

	html {
		font-size: 16px;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		font-family:
			"Inter",
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Helvetica,
			Arial,
			sans-serif;
		display: flex;
		height: 100vh;
		width: 100%;
		color: #1e293b;
		overflow: hidden;
	}

	main {
		background: transparent;
		padding: 1.5rem;
		width: 100%;
		overflow-y: auto;
	}
</style>
